<nav class="flex justify-center py-4 bg-gray-100 text-gray-500 ">

  <div class="items-center text-center px-6 icones">
    <p class="text-xl text-black">Link para os repositórios:</p>
    <div class="flex justify-center">
      <div class="pr-4">
        <p>Front-end</p>
        <a class="p-2 hover:text-gray-700 focus:text-gray-700" href="https://github.com/lnbentes/CalculadoraDePitagoras" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div>
        <p>Back-end</p>
        <a class="p-2 hover:text-gray-700 focus:text-gray-700" href="https://github.com/lnbentes/CalculadoraDePitagorasAPI" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="items-center text-center px-6 icones">
    <p class="text-xl text-black">Link para contato:</p>
    <div class="flex justify-center">
      <div class="pr-4">
        <p>Github</p>
        <a class="p-2 hover:text-gray-700 focus:text-gray-700" href="https://github.com/lnbentes" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
      <div>
        <p>Linkedin</p>
        <a class="p-2 hover:text-gray-700 focus:text-gray-700" href="https://www.linkedin.com/in/lnbentes/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</nav>
