<nav class="relative w-full flex flex-wrap items-center justify-between py-4 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg navbar navbar-expand-lg navbar-light">
  <div class="flex  items-center justify-between px-6">
    <p class="text-2xl text-black" id="textColor">Calculadoura De Pitagoras: </p>
    <div class="justify-self-start pl-2">
      <a class="text-gray-600 text-lg font-bold hover:text-gray-400 focus:text-gray-700 p-2" aria-current="page" routerLink="/hipotenusa" id="textColor">Hipotenusa</a>
      <a class="text-gray-600 text-lg font-bold hover:text-gray-400 focus:text-gray-700 p-2" routerLink="/cateto">Cateto</a>
    </div>
  </div>
</nav>
