<div class="flex justify-center py-28">
  <div>
    <img src="https://s5.static.brasilescola.uol.com.br/img/2019/10/trinagulo-retangulo.jpg" width="75%" alt="trinaguloRetangulo">

    <img src="https://s1.static.brasilescola.uol.com.br/img/2019/10/formula-teorema-pitagoras.jpg" class="p-2" alt="calculoHipotenusa">

    <p class="font-bold text-5xl pb-5">a = {{valorA}}</p>

    <!-- Entrada dos valores -->
    <div class="flex pb-2">
      <p>Entre com o valor de b: </p>
      <input type="text" class="form-control block
        w-full px-3 py-1.5 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded" id="b" [(ngModel)]="this.valorB"
        placeholder="b">
    </div>

    <div class="flex pb-3">
      <p>Entre com o valor de c: </p>
      <input type="text" class="form-control block
        w-full px-3 py-1.5 font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded" id="c" [(ngModel)]="this.valorC"
        placeholder="c">
    </div>

    <div class="flex justify-center">
      <button type="button" class="inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out" (click)="calcular()">Calcular</button>
      <!-- /Entrada dos valores -->
    </div>
  </div>
</div>
